body {
  height: 100vh;
  
  background-image: url('../public/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 700px) {
  body {
    background-image: url('../public/background-large.jpg');
  }
}


