body {
  
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f8f8;
}

h1 {
 font-size: 50px;
}

h2 {
  font-size: 1rem;
}

.page {
  margin: auto;
  display: grid;
  max-width: 800px;
}


.logo {
  text-align: center;
  font-size: 5rem;
  font-family:'Brush Script MT';
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.searchbar {
  display: flex;
  width: auto;
  max-width: 800px;
  margin: 1rem;
  border: solid black 1px;
}

.searchbackground {
  background-color: white;
}

.max-width {
  max-width: 30rem;
  margin: auto;
}



.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

                
}

/* Collors

gråblå  #CFDEE7
blå     #92B4F4
gul     #FFD23F
rød     #EE4266
sort    #050517

*/