.adresse {
    display: flex;
    justify-content: center;
    max-width: 35rem;
    margin: auto;
  }

.vurderinger {
}

.adresseText {
    flex: 1;
    margin-left: 5%;
}

.stedsnavn {
    
}

.stjerner {
display: flex;
flex-direction: row;
align-items: center;
padding-top: 0.30rem;

color: goldenrod;
}

.searchresult {
padding: 1rem;
margin: 1rem;
}
  